<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BootStrap入门Demo</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body style="padding-top: 50px">
    <h1>导航栏中的表单</h1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-head">
                <span class="navbar-brand">导航标题</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="" style=""><a href="#">烦躁</a></li>
                <li class="" style=""><a href="#">难受</a></li>
            </ul>
        </div>

    </nav>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-head">
                <a href="#" class="navbar-brand">导航栏二</a>
            </div>
           <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input  class="form-control " placeholder="输入关键字"/>
                </div>
               <button type="submit" class="btn btn-default">提交</button>
           </form>

            <button class="btn btn-default navbar-btn navbar-left">导航式按钮</button>


            <p class="navbar-text">导航式文本</p>
        </div>
    </nav>



    <div class="container">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>aa</td>
                    <td>vv</td>
                    <td>ff</td>
                </tr>
                <tr>
                    <td>aa</td>
                    <td>vv</td>
                    <td>ff</td>
                </tr>
                <tr>
                    <td>aa</td>
                    <td>vv</td>
                    <td>ff</td>
                </tr>
                <tr>
                    <td>aa</td>
                    <td>vv</td>
                    <td>ff</td>
                </tr>
            </tbody>
        </table>

    </div>



    <div class="container">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            </tbody>
        </table>

    </div>



    <div class="container">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="container">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>vv</td>
                <td>ff</td>
            </tr>
            </tbody>
        </table>

    </div>

    <span class="text-danger">assss</span>

    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li ><a href="#" >2013</a></li>
        <li class="active">十一月</li>
    </ol>

    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>