<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"   />
    <title>BootStrap入门Demo</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body >
    <h1>分页</h1>

    <ul class="pagination pagination-lg">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="disabled"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>


    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>


    <ul class="pager">
        <li class="previous"><a href="#">&larr;Previous</a></li>
        <li class="next"><a href="#">&rarr;Next</a></li>
    </ul>

    <h2>标签</h2>

    <span class="label label-default">BootStrap框架</span>
    <span class="label label-primary">BootStrap框架</span>
    <span class="label label-success">BootStrap框架</span>
    <span class="label label-info">BootStrap框架</span>
    <span class="label label-warning">BootStrap框架</span>
    <span class="label label-danger">BootStrap框架</span>


    <a href="#">未接来电<span class="label label-danger">3</span></a>



    <h2>徽章</h2>
    <a href="#">短信<span class="badge" style="color:red ;background: #eeessee">2</span></a>





    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>