<div class="modal-header">
    模态框标题
    <span class="close" data-dismiss="modal">&times;</span>
</div>
<div class="modal-body">模态框内容
    <table class="table table-bordered table-hover table-striped ">
        <tr>
            <th>姓名</th>
            <th>班级</th>
            <th>年龄</th>
        </tr>
        <tr>
            <td>何睿</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default">注册</button>
    <button type="button" class="btn btn-primary">登录</button>
</div>