<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"   />
    <title>BootStrap入门Demo</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body >
<h1>下拉菜单</h1>
        <div class="dropdown"  id="ee">
            <button id="myDropDown" class="btn  btn-primary" data-toggle="dropdown">下拉菜单<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">首页</a></li>
                <li><a href="#">咨询</a></li>
                <li><a href="#">产品</a></li>
                <li><a href="#">关于</a></li>
            </ul>
        </div>




<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $("#ee").on("show.bs.dropdown",function(){
            alert("下拉前触发！")
        })
    </script>
</body>
</html>