<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"   />
    <title>BootStrap入门Demo</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .nav-pills{
            width:150px;
        }
        .nav-pills.affix{
            top:30px
        }
    </style>
</head>
<body  data-target="#myScroll" data-spy="scroll">
    <h1>附加导航</h1>
    <div class="container">
        <div class="jumbotron" style="height:200px;padding:0px">
            <h1>BootStrap Affix</h1>
        </div>
        <div class="row">
            <div class="col-md-3" id="myScroll">
                <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="150">
                    <li class="active"><a href="#section-1">第一部分</a></li>
                    <li><a href="#section-2">第二部分</a></li>
                    <li><a href="#section-3">第三部分</a></li>
                    <li><a href="#section-4">第四部分</a></li>
                </ul>

            </div>
            <div class="col-md-9">
                <h2 id="section-1">第一部分</h2>
                <p style="line-height:2">这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。</p>
                <h2 id="section-2">第二部分</h2>
                <p style="line-height:2">这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。</p>
                <h2 id="section-3">第三部分</h2>
                <p style="line-height:2">这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。</p>
                <h2 id="section-4">第四部分</h2>
                <p style="line-height:2">这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。</p>
                <h2 id="section-5">第五部分</h2>
                <p style="line-height:2">这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。这一同比下降主要是由于电商的兴起。许多美国消费者通过智能手机、平板电脑和PC去寻找优惠信息。另一方面，在感恩节之前，很多零售商就已提供了优惠折扣，从而冲淡了黑色星期五的影响力。过去几周，电商平台通过电子邮件等渠道向用户进行了推广。Adobe的数据显示，今年黑色星期五，美国电商销售总额同比增长14%，达到27.2亿美元。Adobe追踪了美国4500家零售网站的情况。相对于2014年，电子邮件推广带来的销售额增长了25%。</p>
            </div>
        </div>
    </div>








    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>