<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"   />
    <title>BootStrap入门Demo</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container">
    <h1 style="text-align: center">辅助类和响应工具</h1>

    <h2 style="color: red">辅助类</h2>
    <p class="text-muted">BootStrap框架 text-muted柔和灰</p>
    <p class="text-primary">BootStrap框架 text-primary主要蓝</p>
    <p class="text-success">BootStrap框架 text-success成功绿</p>
    <p class="text-warning">BootStrap框架 text-warning警告黄</p>
    <p class="text-danger">BootStrap框架 text-danger危险红</p>

    <h2 style="color: red">背景色</h2>
    <p class="bg-primary">BootStrap bj-primary背景蓝</p>
    <p class="bg-success">BootStrap bj-success背景绿</p>
    <p class="bg-info">BootStrap </p>
    <p class="bg-warning">BootStrap </p>
    <p class="bg-danger">BootStrap </p>

    <h2 style="color: red">关闭按钮</h2>
    <button  class="btn btn-default">登录</button>
    <h2 style="color: red">三角符号</h2>
    <span class="caret"></span>
    <h2 style="color: red">浮动</h2>

    <div class="clearfix"></div>
    <div class="pull-left">左浮动</div>
    <div class="clearfix"></div>
    <div class="pull-right">右浮动</div>

    <h2 style="color: red">块级居中</h2>

    <div class="center-block">居中</div>


    <h2 style="color: red">隐藏和显示</h2>
    <div class="show">show</div>
    <div class="hidden">hidden</div>
    <div class="show">show</div>

    aaaaa<br/>
    <div class="text-hide">ssss</div>
    aaaa




    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="/js/jquery-1.4.2.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>